<!doctype html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>

    </style>
</head>

<body>
    <form>
        Doctor Name:-
        <br>
        <input type="text" name="doctorName" id="doctorName">
        <br>Mobile Number:-
        <br>
        <input type="text" name="mobileNumber" id="mobileNumber">
        <br> Department Name:-
        <br>
        <input type="text" name="departmentName" id="departmentName">
        <br>
        <input type="button" value="submit" id="submit">
        <div id="successMessage"> </div>
    </form>
    <script>
    $(document).ready(function() {
        $("#submit").click(function() {
            var doctorName = $("#doctorName").val();
            var mobileNumber = $("#mobileNumber").val();
            var departmentName = $("#departmentName").val();
            $.ajax({
                url: "http://localhost:3001/follow/getFollow/59817e837505532b4cf7d038",
                headers: { "access_token": 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1OTgxN2U4Mzc1MDU1MzJiNGNmN2QwMzgiLCJ0aW1lU3RhbXAiOiIyMDE3LTA4LTAyVDA3OjI1OjU1LjUxMVoifQ.oIYPdaaHlwMdkNmz7xL-btoZITiEXFYqz-QjTRSf8hs' },
                // url: "http://18.220.66.102:3001/user/createUserName",
                type: 'get',
                data: {
                    "user_id": "59817e837505532b4cf7d038",
                    "followers_id": [1, 2],
                    // }
                },
                // {

                //     // user: {
                //     // userName: 'shekhar',
                //     // name: 'shekhar Tyagi',/

                //     "mobile": "812672",
                //     // profilePicture: '12331',
                //     password: 'profession',
                //     // profession: 'profession',
                //     // website: 'website',
                //     // age: 'age',
                //     // bio: 'bio',
                //     // verification_code: '992',
                //     // mobile: "8126724591",
                //     // email: 'shekhartyagi26@gmail.com',
                //     // fb_id: '567',
                //     // access_token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1OTgwNmJlNzU3Yjk0MDI1ZjdmYTc5ZmMiLCJ0aW1lU3RhbXAiOiIyMDE3LTA4LTAxVDExOjU0OjE1LjQ1NVoifQ.pzA5yfD_csi_a4xhKuPviC_3O_YHvgUP_msI1yD_9l8",
                //     // user_name: 'shekhar',
                //     // type: 'facebook',
                //     // },
                //     // screen: 3
                // },
                success: function(data) {
                    $("#successMessage").text(JSON.stringify(data));
                }

            });
        })
    });
    </script>
</body>

</html>